*.bak
*.vcd
*.bin
*.zx0
*.scr
*.qws
*.LOG
*.SchDocPreview
/FW/output_files
/FW/incremental_db
/FW/db
/HW/History

/FW/zx_cartrige_description.txt
/HW/Project Outputs for zx_cartridge
Content/tools/zx0/build/*
